VAULT_PORT=8090
VAULT_PUBLIC_BASE_URL=https://super.ol1n.com
VAULT_DB_PATH=/data/vault/vault.db
VAULT_NZB_DIR=/data/vault/nzb
VAULT_FILES_DIR=/data/vault/files
VAULT_TMP_DIR=/data/vault/tmp
VAULT_FILES_TTL_HOURS=24
VAULT_API_KEY=

NNTP_HOST=news.eweka.nl
NNTP_PORT=563
NNTP_TLS=true
NNTP_USER=
NNTP_PASS=
NNTP_CONNECTIONS=8
NNTP_NEWSGROUP=alt.binaries.test

NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_API_BASE=https://api.nowpayments.io/v1
NOWPAYMENTS_SUCCESS_URL=https://super.ol1n.com/upload/done
NOWPAYMENTS_CANCEL_URL=https://super.ol1n.com/upload/cancel

UPLOAD_PRICE_USD=0.50

POLYGON_RPC_URL=
POLYGON_PRIVATE_KEY=
